.main_area{
	background-color:#ffffff;
	 position: relative;
    left: 25%;
    top: 50%;
    width: 40%;
    border: 2px solid #A9A9A9;
    	}
input[type=text], input[type=password], input[type=number], input[type=email] {
  width: 80%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
input[type=text]:focus, input[type=password]:focus, input[type=number]:focus, input[type=email]:focus {
  background-color: #ddd;
  outline: none;
}

.button {
  background-color: #0000FF;
  color: white;
  padding: 14px 20px;
  margin: 8px 20px;
  border: none;
  cursor: pointer;
  width: 20%;
  opacity: 0.9;
}
button:hover {
  opacity:1;
}
.container {
  padding: 16px;
}
@media screen and (max-width: 300px) {
  .button, .table_str {
     width: 10%;
  }
	
    .container{
       height:auto;        
    }
}
h3{
  left: 25%;
  position: relative;
  
}


.playing_area{
/*    border: 2px solid black;*/
    position: relative;
    width: 7%;
    left: 35%;
    top : 150px;
    
}
td{
    width: 20%;
    height: 50px;
    padding: 12px;
    
}
.one, .two, .four, .five{
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-collapse: collapse;
    width: 20%;
}
.three, .six {
    border-bottom: 2px solid black;
    
}
.seven, .eight {
    border-right: 2px solid black;
    width: 20%;
}
.score_board{
    position: relative;
    width: 7%;
    left: 33%;
    top : 100px;  
}
input[type="button"]{
    background: none;
    width:50px;
    height:50px;
    border: none;
    
}